#product-catalog {
    font-size: 1.1rem;
    color: gray;
}

#product-catalog .name {
    font-weight: 500;
}

#product-catalog .description {
    font-size: 0.8rem;

}

#product-catalog i {
    margin-left: 1.1rem;
    font-size: 1.1em;
}

.cp {
    cursor: pointer;
}

.in-stock {
    color: #A9D18E;
}

.out-of-stock {
    color: #FFD966;
}