#todolist {
    font-size: 1.1rem;    

}

#todolist .todo {
    font-weight: bold;
}

#todolist .name .description{
    font-size: 0.8rem;
}

#todolist i{
    margin-left: 1rem;
    font-size: 1.4em;
}

.cursor-pointer {
    cursor: pointer;
}

.status-done {
    color: #198754;    
    transform: rotate(180deg);
}


.status-not-done {
    color: red;    
}

.navbar-text {
    font-size: 2rem;
}

#error {
    margin-top: 0.5rem;
    color: red;
}

#trashcan {
    color: #6c757d;
}

#trashcan:hover .fa-trash:before{   
    content: "\f82a";
}

#div-buttons{
  display: flex;
  justify-content: space-between;
}

#todoname{
    border: 2px solid red;
}

