#todolist {
    font-size: 1.1rem;
    color: gray;

}

#todolist .todo {
    font-weight: bold;
    color: black;
}

#todolist .name .description{
    font-size: 0.8rem;
}

#todolist i{
    margin-left: 1rem;
    font-size: 1.4em;
}

